In [192]:
import tensorflow as tf

In [193]:
tf.keras.models.Sequential.mro()

[keras.src.models.sequential.Sequential,
 keras.src.models.model.Model,
 keras.src.backend.tensorflow.trainer.TensorFlowTrainer,
 keras.src.trainers.trainer.Trainer,
 keras.src.layers.layer.Layer,
 keras.src.backend.tensorflow.layer.TFLayer,
 keras.src.backend.tensorflow.trackable.KerasAutoTrackable,
 tensorflow.python.trackable.autotrackable.AutoTrackable,
 tensorflow.python.trackable.base.Trackable,
 keras.src.ops.operation.Operation,
 keras.src.saving.keras_saveable.KerasSaveable,
 object]

In [ ]:
# 클래스 = 데이터

In [2]:
a = 1

In [3]:
type(a)

int

In [5]:
class A:
    pass

In [6]:
a = A()

In [8]:
type(a) # 현재 type에서 내가 정의했다

__main__.A

In [9]:
# 클래스를 만든다는 건 새로운 타입을 만드는 것

In [10]:
# 메타 클래스
# encapsulation: 재사용하기 위해 하나로 묶는것
# 객체지향이 좋은 이유는 재사용성이 좋기 때문에

# 남이 사용한거 내가 사용할 때, 상속을 쓴다

In [11]:
class A(object): # 모든 객체는 object를 물려받는다
    pass

In [12]:
a = A()

In [14]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [17]:
class A:
    a = 1
    c = 3

In [18]:
class B(A):
    b = 2
    c = 4

In [25]:
# 인스턴스에 없으면 클래스를 찾고 클래스에 없으면 부모 클래스를 찾는다
B.a

1

In [26]:
id(B.a)

4368364656

In [27]:
id(A.a) # 파이썬의 상속은 deligator 개념이다
        # 실행 순서 개념

4368364656

In [50]:
class C:
    def __init__(self, a, b): # overriding
        print(a, b)

In [51]:
C(2,3)

2 3

In [52]:
class AA:
    x = 1

In [60]:
class BB:
    x = 2
    y = 3

In [64]:
class CC(AA):
    pass

In [65]:
class DD(CC,AA): # 다중 상속 가능 -> 두명 이상의 부모에게 상속을 받음
    pass

# mixins 다중 상속 테크닉

In [69]:
dir(DD) # 여기에 mro 인스턴스가 없음

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'x']

In [68]:
DD.mro() # 상속순

[__main__.DD, __main__.CC, __main__.AA, object]

In [67]:
class EE(AA, DD): # MRO 오류
    pass

# 다중상속의 문제점

TypeError: Cannot create a consistent method resolution
order (MRO) for bases AA, DD

In [63]:
CC.x

1

# MRO(Method Resolution Order)

자식과 부모 클래스를 전부 포함하여 메소드의 실행 순서를 지정하는 것

In [112]:
def x(self):
    print('a')

In [115]:
x() # 함수는 파라미터 갯수에 맞춰서 실행해야한다
    # 예외) 디폴트값

TypeError: x() missing 1 required positional argument: 'self'

In [179]:
class A:
    def x(self):     # 인스턴스 메소드의 첫번째 인자를 self로 한다
        print(self)  # self는 인스턴스 그 자체


# 메소드로 사용될 때는 첫번째 인자를 생략한다

In [180]:
a = A()

In [194]:
a

In [181]:
A().x(a) # 인스턴스 메소드

TypeError: A.x() takes 1 positional argument but 2 were given

In [182]:
A.x(a) # 함수

<__main__.A object at 0x15e750f50>

In [183]:
class A:
    def __init__(self):
        print('A')

class B(A):
    def __init__(self):  # 순서 중요. sequencial하기 때문
        A.__init__(self) # 클래스 안이라서 self를 쓴다
        print('B')

class C(A):
    def __init__(self):
        A.__init__(self)
        print('C')

class D(B, C):
    def __init__(self):
        B.__init__(self)
        C.__init__(self)
        print('D')

In [184]:
b = B()

A
B

In [185]:
c = C()

A
C

In [186]:
d = D() # A가 두번 실행된다
        # 다중 함수의 문제점
        # python은 mro가 바꿔준다

A
B
A
C
D

In [7]:
class A:
    def __init__(self):
        print('A')

class B(A):
    def __init__(self):           # 순서 중요. sequencial하기 때문
        # A.__init__(self)        # (1)클래스 안이라서 self를 쓴다
        # super(B, self).__init__() # (2)B의 부모를 인스턴스화 하세요 (1)과 (2)와 같음
        print('B')

class C(A):
    def __init__(self):
        # A.__init__(self)
        super().__init__() # (3)자기 자신의 부모를 인스턴스화 하라 (2)와 (3)과 같음
        print('C')

class D(B, C):
    def __init__(self):
        # B.__init__(self)
        # C.__init__(self)
        super().__init__() # super는 한번만 써도 모든 부모를 탐색하여 인스턴스화한다
        print('D')         # 어떻게? mro 때문에

# super는 항상 맨 위에 적어야한다
# 순서대로 실행하기 때문에

In [8]:
D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [2]:
d = D()

B
D

In [189]:
D.mro() # 순서가 뒤죽박죽
        # 이유는 stack이기 때문에
        # 의도대로 실행되는 것이다

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [190]:
from torch import nn

In [191]:
nn.Module.mro()

[torch.nn.modules.module.Module, object]

In [195]:
# 2장의 핵심은
# 함수형 패러다임이지만 객체로 구현한다

In [ ]:
# value는 data의 해석이 들어간것
# type이 중요하다
# python에서 data type = class

# 프로그래밍은 명령형과 선언형이 있다
# 선언형은 함수를 잘만들어야 한다
# 파이썬은 객체지향 형태로 함수형을 쓸 수 있다

In [196]:
# 객체지향은 생산성이 좋다
# 재사용성이 좋기 때문
# 할 수 있는 방법이 많다
# 사람마다 쓰는게 다르기 때문에 협업하기 좋진 않음

# 1. 추상화
# 2. 캡슐화
# python은 해킹하기 좋음
# 3. 다형성
# 내 상황에 맞게 다르게 작동하는것이 다형성이다
# 4. 상속

In [197]:
# 데이터 전처리의 기본
# map, filter, reduce

In [200]:
import seaborn as sns

In [208]:
tips = sns.load_dataset('tips')

In [210]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [218]:
tips.tip += 1

In [219]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  2.01  Female     No   Sun  Dinner     2
1         10.34  2.66    Male     No   Sun  Dinner     3
2         21.01  4.50    Male     No   Sun  Dinner     3
3         23.68  4.31    Male     No   Sun  Dinner     2
4         24.59  4.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  6.92    Male     No   Sat  Dinner     3
240       27.18  3.00  Female    Yes   Sat  Dinner     2
241       22.67  3.00    Male    Yes   Sat  Dinner     2
242       17.82  2.75    Male     No   Sat  Dinner     2
243       18.78  4.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [212]:
x = [1,2,3,4]

In [213]:
[t+1 for t in x]

[2, 3, 4, 5]

In [217]:
list(map(lambda x:x+1, x))

[2, 3, 4, 5]

In [221]:
class T:
    def __init__(self, x,b,c): # init 시그니처
        print('T')

In [225]:
T(1,2,3) # 메소드 관점에선 3개

T

In [236]:
a = filter(lambda x:x>1, [0,1,2,3]) # 클래스, higer order function
                                    # iterable

In [238]:
next(a)

3

In [239]:
# reduce / accumulation
# reduce 여러개의 결과를 하나로 축약하는것
# accumulation 누적하는것

In [241]:
from functools import reduce

In [242]:
reduce(lambda x,y:x+y, [1,2,3,4,5]) # reduce 여러개의 결과를 하나로 축약하는것
# -> 1+2 = 3 -> 3+3 = 6 -> 6+4 = 10 -> 10+5 = 15
# 결과값을 하나만 나타낸다

15

In [243]:
from itertools import accumulate

In [246]:
t = accumulate([1,2,3,4,5], lambda x,y:x+y) # 누적한다

In [251]:
next(t) # 누적되는 과정을 나타냄

15

In [283]:
def x():
    yield 1
    yield 2

In [284]:
t = x()

In [286]:
next(t)

2

In [271]:
t = (t for t in [1,2,3,4])

In [274]:
next(t)

2

In [305]:
%%writefile a.txt
asdf asd fas
asdf asd asdf asda as

Overwriting a.txt

In [306]:
a = open('a.txt')

In [307]:
a.readline()

'asdf asd fas\n'

In [326]:
f = filter(lambda x:x>3, [1,2,3,4,5,6])

In [329]:
a = lambda x:x>1

In [330]:
list(filter(a or None, [1,2,3]))

[2, 3]

In [367]:
class A:
    def __init__(self):
        print('A')

class B(A):
    def __init__(self):           # 순서 중요. sequencial하기 때문
        # A.__init__(self)        # (1)클래스 안이라서 self를 쓴다
        # super(B, self).__init__() # (2)B의 부모를 인스턴스화 하세요 (1)과 (2)와 같음
        print('B')

class C(A):
    def __init__(self):
        # A.__init__(self)
        super().__init__() # (3)자기 자신의 부모를 인스턴스화 하라 (2)와 (3)과 같음
        print('C')

class D(B, C):
    def __init__(self):
        # B.__init__(self)
        # C.__init__(self)
        super().__init__() # super는 한번만 써도 모든 부모를 탐색하여 인스턴스화한다
        print('D')         # 어떻게? mro 때문에

# super는 항상 맨 위에 적어야한다
# 순서대로 실행하기 때문에

In [365]:
D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [368]:
D()

B
D